<div class="homepage-slide-container">
  <div class="homepage-slide-container__video">
    <video autoplay loop muted playsinline>
      <source
        src="https://www.balanceinternet.com.au/wp-content/uploads/upgrade_2023/desktop_video_compressor.mp4"
        type="video/mp4"
      >
    </video>
  </div>
  <div class="homepage-slide-container__content">
    <div class="homepage-slide-container__subtitle pb-lg-5 pb-0">
      Simplifying complex digital commerce systems with intuitive design, smart technology, and innovative solutions.
    </div>
    <div class="homepage-slide-container__expert-text pb-lg-5 pb-0">Experts in digital commerce</div>

    <div class="row g-0">
      <div class="col-lg-6 col-md-12">
        <!-- Nội dung hiện tại của cột thứ nhất -->
      </div>
      <div class="col-lg-5 col-md-12 pt-5">
        <div class="middle-content-text pb-5 pt-5">
          Since 2008, Balance has been implementing high performing digital solutions for leading brands (B2C, B2B &
          D2C), education institutions, corporations, and government departments.
        </div>
        <div class="row g-3 middle-cta pt-5 pb-5 fs-2">
          <div class="col-lg-4 col-md-4 col-sm-6 middle-cta-banner__content">
            <a
              class=" w-100"
              aria-label="Strategy page"
              href="https://www.balanceinternet.com.au/services/ecommerce-strategy/"
            >
              Strategy <span class="button-transparent"></span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 text-center middle-cta-banner__content">
            <a
              class=" w-100"
              aria-label="Delivery page"
              href="https://www.balanceinternet.com.au/services/digital-transformation/"
            >
              Delivery <span class="button-transparent"></span>
            </a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 text-end middle-cta-banner__content">
            <a
              class=" w-100"
              aria-label="Growth page"
              href="https://www.balanceinternet.com.au/services/ecommerce-growth/"
            >
              Growth <span class="button-transparent"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Banner Balance",
  "settings": [
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1",
      "default": "Digital"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2",
      "default": "Experience"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3",
      "default": "Agency"
    },
    {
      "type": "text",
      "id": "button_label_1",
      "label": "Button 1 Label",
      "default": "Our Services"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button 1 Link"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "label": "Button 2 Label",
      "default": "Our Work"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button 2 Link"
    },
    {
      "type": "text",
      "id": "button_label_3",
      "label": "Button 3 Label",
      "default": "Let's Talk"
    },
    {
      "type": "url",
      "id": "button_link_3",
      "label": "Button 3 Link"
    }
  ],
  "presets": [
    {
      "name": "Banner Balance",
      "category": "Video"
    }
  ]
}
{% endschema %}
