<div class="private-mouse-container-wrapper">
  <div class="private-mouse-container"></div>

  <div class="private-mouse-left-content">
    <p>We're thinking ahead.</p>
    <p>Forecasting what's next.</p>
    <p>Making progress.</p>
  </div>
</div>

{% schema %}
{
  "name": "Mouse Cursor Balance",
  "settings": [],
  "presets": [
    {
      "name": "Private Mouse Follow Effect",
      "category": "Custom"
    }
  ]
}
{% endschema %}
